*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    overflow-y: hidden;
}
button{
    border: none;
    outline: none;
}
.main{
    width: 100%;
}
.page-wrapper{
    background: #FFEEE2;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.25);
    border-radius: 60px 0px 0px 60px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    align-items: center;
}